{{! Place component template in here }}
<ez-pagnation-server id='ez-pagnation-server'></ez-pagnation-server>
<div name='page-content'></div>
{{#if page}}
  <div name='page-bar'>
  </div>
{{else}}
{{/if}}
