<div name="container">
  <div name="show">PLAY</div>
  <div name="main" style="display:none">
    <ez-spinner></ez-spinner>
    <div name="playlist" data-id="27eBK3MivaCEewOlMbtWIq">Hard Coding</div>
    <div name="playlist" data-id="6aXJ4nmlGjBn28ffarQOpx">Her</div>
    <div name="playlist" data-id="6rNfiulV0nyBydEpTO7hls">DZ showed me Free Bird</div>
  </div>
</div>