{{! Place component template in here }}
{{#if preview}}
  <div name="margin">
    <h1 name="title"></h1>
    <div name="date"></div>
    <img name="first-photo" src="">
    <div name="body"></div>
  </div>
{{else}}
  <div name="margin">
    <h1 name="title"></h1>
    <div name="date"></div>
    <img name="first-photo" src="">
    <div name="body"></div>
    <div name="photos"></div>
  </div>
{{/if}}
