{{! Place component template in here }}
{{#if mini}}
  <h1>Header</h1>
  <h2>Sub-header</h2>
  <img>

{{else}}
  <div class="banner">
    <img>
    <div class="header">
      <h1>Header</h1>
      <h2>Sub-header</h2>
    </div>
  </div>
{{/if}}
<div class="body"></div>