<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
<%= stylesheet_link_tag 'default', media: :screen %>
<%= stylesheet_link_tag 'print', media: :print %>

<div class="body">

  <a id="print" href="javascript:print()">Print this Page</a>

  <p class="title">
    <div class="name center">David Zhang</div>
    <div class="center">
      <strong>Email</strong> zyq.david@gmail.com
      <strong>Phone</strong> +1 (647) 208 0826
    </div>
    <div class="center">
      <strong>Linked In</strong>
      <a target="_" href="//ca.linkedin.com/in/ezdzdev">https://ca.linkedin.com/in/ezdzdev</a>
    </div>
  </p>


  <div class="section">
    SKILLS
  </div>
  <p class="point">Javascript, Ruby, Elixir</p>
  <p class="point">React, Rails, Relay, GraphQL, NodeJS, Pheonix</p>
  <p class="point">Also Python, NextJS, AngularJS, Web Components, D3</p>

  <div class="section">
    EMPLOYMENT
  </div>

  <p class="title">Principle Engineer (React/Relay, Elixir, Rails)<span class="date">July 2017 - July 2018</span></p>
  <p class="subtitle">Hockeystick co.</p>
  <p class="point">•	Designed and implemented new services focused architecture from a monolithic codebase</p>
  <p class="point">•	Main data store implemented in Elixir, using GraphQL as api framework.</p>
  <p class="point">•	Full ReactJS front end using Relay modern as data store.</p>
  <p class="point">•	Designed Query DSL to implement full database search/aggregation.</p>

  <p class="title">Retailer Reporting (Elastic Beanstalk, Rails, React/Redux)<span class="date">March 2017 - July 2017</span></p>
  <p class="subtitle">Flipp Internal Product Team</p>
  <p class="point">•	Team Co-lead from project inception, which included responsibilities to coach team mates.</p>
  <p class="point">•	Architected modular react structure, which then turned into a company wide React/Rails boilerplate</p>

  <p class="title">Retailer Dashboard (Amazon Redshift, Rails, AngularJS, D3js)<span class="date">May 2016 - March 2017</span></p>
  <p class="subtitle">B2B Product team</p>
  <p class="point">•	Lead of an external facing Dashboard; A web solution for data-driven story telling.</p>
  <p class="point">•	Built <a target="_" href="//github.com/jamDeezy/mentat">mentat</a>, an internal graphing library based off d3js</p>

  <p class="title">Marketplace Developer (Rails, Web Components)<span class="date">August 2015 - May 2016</span></p>
  <p class="subtitle">Flipp Internal Product Team</p>
  <p class="point">•	Architected webcomponent client stack using typescript, handlebars, sass all wrapped in HTML webcomponents using vulcanize</p>
  <p class="point">•	Built features that handles sensitive financial data that needed to be fail-safe.</p>
  <p class="point">•	Responsible for micro-service initiative  integrating Marketplace as a micro-service to multiple other products.</p>

  <p class="title">Platform Developer (MySQL, Rails, JQuery)<span class="date">July 2014 – August 2015</span></p>
  <p class="subtitle">Flipp Hosted Web Service Team</p>
  <p class="point">•	Prototyped data-driven HTML generator to 10x team productivity. The product is still in use today.</p>
  <p class="point">•	Improved web crawlers based in ruby to aggregate data to help ease manual workload.</p>
  <p class="point">•	Built time sensitive integration points for retailer data-feed</p>

  <div class="section">
    EDUCATION
  </div>
  <p class="title">University of Toronto <span class="date">September 2009 – May 2014</span></p>
  <p class="subtitle">Bachelor of Applied Science, Computer Engineering</p>
  <p class="point">Courses: Communication and Design, Algorithms and Databases, Computer Graphics, Databases, Computer Security, Computer Networks</p>

  <div class="section">
    PROJECTS
  </div>
  <p class="title"><a target="_" href="//github.com/itsdeezy/euler-elixir">Euler Elixir</a><span class="date">Current</span></p>
  <p class="subtitle">Elixir Project</p>
  <p class="point">An inititive to complete the euler problem set using elixir and erlang</p>

  https://github.com/itsdeezy/euler-elixir
  <p class="title"><a target="_" href="//github.com/itsdeezy/SingWithMe">Sing With Me (Objective-C)</a><span class="date">April 2014</span></p>
  <p class="subtitle">iOS Mobile Karaoke Application (unpublished)</p>
  <p class="point">A karaoke application that can turn your audio library into karaoke songs, equipped with own lyrics web crawler</p>

  <p class="title"><a target="_" href="//github.com/vincentleest/ECE496-Computer-Vision-Sorter">Lego Sorter (C++, C, OpenCV, Arduino)</a><span class="date">September 2013 – April 2014</span></p>
  <p class="subtitle">Engineering Capstone Computer Vision Project</p>
  <p class="point">Using Hu's Moments and other algorithms to identify and sort lego blocks</p>

</div>