<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">

<style>
  * {
    font-family: 'Source Sans Pro', sans-serif !important;
  }

  div {
    margin-top: 5px !important;
  }

  a {
    color: #108ee9;
    text-decoration: none;
  }
  a:visited {
    color: #108ee9;
  }

  .body {
    width: 960px;
    margin: auto;
    position: relative;
  }

  .center {
    margin: auto;
  }

  .section {
    font-weight: 500;
    font-size: 24px;
    margin: 45px 0 0px 0!important;
  }

  .center {
    text-align: center;
  }

  .title {
    margin: 20px 0 0 0;
    font-size: 20px;
  }

  .date {
    text-align: left;
    text-decoration: none;
    position: absolute;
    right: 0;
  }

  .subtitle {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 300;
  }

  .point {
    margin: 0;
    font-weight: 300;
  }

  .name {
    font-size: 64px;
    font-weight: 500;
    line-height: 64px;
  }

  .closing-space {
    height: 300px;
  }
</style>

<div class="body">
<p class="title">
  <div class="name center">David Zhang</div>
  <div class="center">
    <strong>Email</strong> zyq.david@gmail.com
    <strong>Phone</strong> +1 (416) 873 2461
  </div>
  <div class="center">
    <strong>Linked In</strong>
    <a target="_" href="//ca.linkedin.com/in/ezdzdev">https://ca.linkedin.com/in/ezdzdev</a>
  </div>
</p>

<div class="section">
  EMPLOYMENT
</div>
<p class="title">Retailer Reporting (Elastic Beanstalk, Rails, React/Redux)<span class="date">March 2017 - Present</span></p>
<p class="subtitle">Flipp Internal Product Team</p>
<p class="point">•	Team <strong>Co-lead</strong> from project inception, which included responsibilities to coach team mates.</p>
<p class="point">•	<strong>Architected</strong> modular react structure, which then turned into a <strong>company wide React/Rails boilerplate</strong></p>

<p class="title">Retailer Dashboard (Amazon Redshift, Rails, AngularJS, D3js)<span class="date">May 2016 - March 2017</span></p>
<p class="subtitle">B2B Product team</p>
<p class="point">•	<strong>Lead</strong> of an external facing Dashboard; A web solution for data-driven story telling.</p>
<p class="point">•	<strong>Built</strong> <a target="_" href="//github.com/jamDeezy/mentat">mentat</a>, an internal graphing library based off d3js</p>

<p class="title">Marketplace Developer (Rails, Web Components)<span class="date">August 2015 - May 2016</span></p>
<p class="subtitle">Flipp Internal Product Team</p>
<p class="point">•	<strong>Architected</strong> webcomponent client stack using <strong>typescript, handlebars, sass</strong> all wrapped in HTML webcomponents using vulcanize</p>
<p class="point">•	<strong>Built</strong> features that handles <strong>sensitive financial</strong> data that needed to be fail-safe.</p>
<p class="point">•	<strong>Responsible</strong> for micro-service initiative  integrating Marketplace as a micro-service to multiple other products.</p>

<p class="title">Platform Developer (MySQL, Rails, JQuery)<span class="date">July 2014 – August 2015</span></p>
<p class="subtitle">Flipp Hosted Web Service Team</p>
<p class="point">•	<strong>Prototyped</strong> data-driven HTML generator to <strong>10x</strong> team productivity. The product is still in use today.</p>
<p class="point">•	Improved web crawlers based in ruby to aggregate data to help ease manual workload.</p>
<p class="point">•	Built <strong>time sensitive</strong> integration points for retailer data-feed</p>

<p class="title">IBM DB2 Developer (PERL, C)</p>
<p class="subtitle">RAS/PD Team - CO-OP</p>
<p class="point">•	Went through 6+ hrs of meetings just to push a one liner. <strong>Never again</strong></p>

<div class="section">
  EDUCATION
</div>
<p class="title">University of Toronto <span class="date">September 2009 – May 2014</span></p>
<p class="subtitle">Bachelor of Applied Science, Computer Engineering</p>
<p class="point">Courses: Communication and Design, Algorithms and Databases, Computer Graphics, Databases, Computer Security, Computer Networks</p>

<div class="section">
  SKILLS
</div>
<p class="point">Languages/Frameworks: Ruby, Rails, Javascript, AngularJS, Web Components, D3, ReactJS, NodeJS</p>

<div class="section">
  PROJECTS
</div>
<p class="title"><a target="_" href="//github.com/JamDeezy/SingWithMe">Sing With Me (Objective-C)</a><span class="date">April 2014</span></p>
<p class="subtitle">Creator – iOS Mobile Karaoke Application (unpublished)</p>
<p class="point">•	Created <strong>vocals removal algorithm</strong> by subtracting left stereo from right.</p>
<p class="point">•	Implementation of web crawler and intuitive GUI to effective sync lyrical data to audio.</p>

<p class="title"><a target="_" href="//github.com/vincentleest/ECE496-Computer-Vision-Sorter">Lego Sorter (C++, C, OpenCV, Arduino)</a><span class="date">September 2013 – April 2014</span></p>
<p class="subtitle">Lead software developer - Computer Vision Design Project</p>
<p class="point">•	Achieved <strong>90%</strong> rotationally independent lego recognition accuracy by utilizing Hu’s Moments.</p>
<p class="point">•	Created communication protocols for C to Arduino interface using Serial commands.</p>

<div class="section">ACTIVITIES</div>
<p class="point">Genesys Hackathon (NodeJS, Voice-to-Speech SDK)	<span class="date">June 2014</span></p>
<p class="point"><a target="_" href="//github.com/JamDeezy/spaceapps">SpaceApps Hackathon (C#, Unity3D, Oculus Rift SDK)</a>	<span class="date">April 2014</span></p>
<br>
<p class="point">2nd place at Waterloo <strong>Dota 2</strong> competition</p>
<div class="closing-space"></div>