<% content_for :application_head do %>
  <title>DZ's Blog</title>
  <%= render 'templates/meta' -%>
  <!-- need to figure out how to vulcanize these assets -->
  <link href='//fonts.googleapis.com/css?family=Ubuntu+Mono|Josefin+Sans:300,400,600|Open+Sans:300italic,400italic,400,300' rel='stylesheet' type='text/css'>
  <link rel='import' href='web/component.html'>
<% end %>

<% content_for :application_body do %>
  <ez-pagnation resource='blogs'></ez-pagnation>
<% end %>
