<html>
  <head>
    <%= render template: 'templates/_meta' -%>
    <link rel="import" href="/web/components.html">
    <style>
      html, body {
        margin: 0;
        padding: 0;
      }

      ez-logo {
        position: fixed;
        z-index: 1000;
      }

      ez-post {
        background: #f7f7f7;
      }
    </style>
  </head>
  <body>
    <ez-logo></ez-logo>
    <ez-header src="<%= @post.photo.url -%>"
               title="<%= @post.title -%>"></ez-header>
    <ez-post>
      <%= @post.to_json -%>
    </ez-post>
    <ez-share></ez-share>
  </body>
  <script>
  </script>
</html>
<!--
  We could refactor ez-blog to handle the html stuff?
  it would:
  2) parse content for special tags(?)
  3) give content special css
 -->