<html>
  <head>
    <%= render template: 'templates/_meta' -%>
    <link rel="import" href="/web/components.html">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        overflow: hidden;
        padding: 0;
      }

      ez-logo {
        left: 10px;
        position: fixed;
        top: 5px;
        z-index: 1000;
      }

      ez-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
      }

      ez-isotope {
        box-sizing: border-box;
        height: 90px;
        margin: 0 auto;
        padding-top: 66px;
        width: 700px;
      }

      #main {
        background: #f7f7f7;
        border-top: 1px solid #ccc;
        position: absolute;
        top: 90px;
        bottom: 0;
        overflow: scroll;
        width: 100%;
      }

      #container {
        left: 0px;
        padding: 5px;
        position: relative;
        right: 0px;
      }

      ez-post-preview {
        display: none;
        width: 700px;
        height: 250px;
        margin: 0 auto 10px auto;
      }
    </style>
  </head>
  <body>
    <!-- utility components -->
    <ez-logo></ez-logo>
    <ez-server></ez-server>
    <ez-spinner></ez-spinner>

    <!-- content components -->
    <ez-isotope target='#container' selector='type'></ez-isotope>
    <div id="main">
      <div id="container"></div>
    </div>
  </body>
  <script>
    var body = document.querySelector("body");
    var server = document.querySelector("ez-server");
    var spinner = document.querySelector("ez-spinner");
    var isotope = document.querySelector("ez-isotope");
    var container = document.querySelector("#container");

    var params = {
      limit: 5,
      offset: 0,
      categories: isotope.categories().join(',')
    };

    /* Configure isotope */
    isotope.load({
      "Blog":"on",
      "Gaming":"on",
      "Photography":"on",
      "Writing":"on"
    });

    isotope.onChange = function(delta) {
      params.categories = this.categories();
      index(params);
    }

    /* Configure spinner */
    spinner.onStop = function() {
      $('ez-post-preview').velocity(
        "transition.slideLeftIn",
        { stagger: 250 }
      );
    };

    /* Load content */
    index(params);

    /* Server index call */
    function index(params) {
      container.innerHTML = '';
      spinner.start();
      server.index(params).then(function(response) {
        appendChildren(response.data);
      });
    }

    /* Server search call */
    function search(params) {
      container.innerHTML = '';
      spinner.start();
      server.search(params).then(function(response) {
        appendChildren(response.data);
      });
    }

    /* Append children to container */
    function appendChildren(data) {
      for (var i = 0; i < data.length; i++) {
        var post = document.createElement("ez-post-preview");
        post.load(data[i]);
        container.appendChild(post);
      }

      imagesLoaded('#container', function() {
        spinner.stop();
      });
    }
  </script>
</html>
