<html>
  <head>
    <%= render template: 'templates/_meta' -%>
    <link rel="import" href="/web/components.html">
    <style>
      html, body {
        display: flex;
        flex-flow: column;
        height: 100%;
        margin: 0;
        overflow: hidden;
        padding: 0;
      }

      ez-logo {
        left: 10px;
        position: fixed;
        top: 5px;
        z-index: 1000;
      }

      ez-isotope {
        box-sizing: border-box;
        flex: 0 1 90px;
        height: 90px !important;
        margin: 0 auto;
        padding-top: 63px;
        width: 700px;
      }

      #container {
        background: #f7f7f7;
        border-top: 1px solid #ccc;
        display: block;
        flex: 1 1 auto;
        left: 0px;
        overflow: scroll;
        padding: 5px;
        position: relative;
        right: 0px;
      }

      ez-post-preview {
        width: 700px;
        height: 250px;
        margin: 0 auto 10px auto;
      }
    </style>
  </head>
  <body>
    <ez-server></ez-server>
    <ez-isotope target='#container' selector='type'></ez-isotope>
    <ez-logo></ez-logo>
    <div id="container">
    </div>
  </body>
  <script>
    var body = document.querySelector("body");
    var server = document.querySelector("ez-server");
    var isotope = document.querySelector("ez-isotope");
    var container = document.querySelector("#container");

    var params = {
      limit: 5,
      offset: 0,
      categories: isotope.categories().join(',')
    };

    /* Configure isotope */
    isotope.load({
      "Blog":"on",
      "Deck":"on",
      "Photography":"on",
      "Writing":"on"
    });

    isotope.onChange = function(delta) {
      console.log(delta);
      var newOffset = params.limit + params.offset;
      var newLimit = params.limit + delta;

      if (newLimit > 0) {
        // look for more from server
      } else {
        // remove?
      }
    }

    /* Load content */
    index(params);

    /* Server index call */
    function index(params) {
      server.index(params).then(function(response) {
        appendChildren(response.data);
      });
    }

    /* Append children to container */
    function appendChildren(data) {
      for (var i = 0; i < data.length; i++) {
        var post = document.createElement("ez-post-preview");
        post.load(data[i]);
        container.appendChild(post);
      }
    }
  </script>
</html>
