<html>
  <head>
    <%= render template: 'templates/_meta' -%>
    <link rel="import" href="/web/components.html">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        overflow: hidden;
        padding: 0;
      }

      ez-logo {
        left: 10px;
        position: fixed;
        top: 5px;
        z-index: 1000;
      }

      ez-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
      }

      ez-isotope {
        box-sizing: border-box;
        height: 90px;
        margin: 0 auto;
        padding-top: 66px;
        width: 700px;
      }

      #main {
        background: #f7f7f7;
        border-top: 1px solid #ccc;
        position: absolute;
        top: 90px;
        bottom: 0;
        overflow: scroll;
        width: 100%;
      }

      #container {
        left: 0px;
        padding: 5px;
        position: relative;
        right: 0px;
        margin-bottom: 30px;
      }

      ez-post-preview {
        display: none;
        width: 700px;
        height: 200px;
        margin: 0 auto 10px auto;
      }
    </style>
  </head>
  <body>
    <!-- utility components -->
    <ez-logo></ez-logo>
    <ez-server></ez-server>
    <ez-spinner></ez-spinner>

    <!-- content components -->
    <ez-isotope target='#container'
                selector='type'></ez-isotope>
    <div id="main">
      <div id="container"></div>
    </div>
    <ez-spotify></ez-spotify>
  </body>
  <script>
    var body = document.querySelector("body");
    var server = document.querySelector("ez-server");
    var spinner = document.querySelector("ez-spinner");
    var isotope = document.querySelector("ez-isotope");
    var container = document.querySelector("#container");
    window['params'] = {
      limit: 5,
      offset: 0,
      categories: "BLOG,GAMING,PHOTOGRAPHY,WRITING"
    };

    /* Configure isotope */
    isotope.load({
      "Blog":"on",
      "Gaming":"on",
      "Photography":"on",
      "Writing":"on"
    });

    isotope.oncontentchange = function(total) {
      debugger
      if (total < 5) {
        params.categories = isotope.categories().join(',');
        index();
      } else {
        // hide everything over 5
      }
    }

    /* Configure spinner */
    spinner.onStop = function() {
      $('ez-post-preview.new').velocity("transition.slideLeftIn", {
        stagger: 250,
        complete: function() {
          for (var i = 0; i < this.length; i++) {
            this[i].className = '';
          }
        }
      });
    };

    /* Server index call */
    function index() {
      spinner.start();
      server.index(params).then(function(response) {
        appendChildren(response);
      });
    }

    /* Load more at bottom */
    $('#main').scroll(function(e) {
      // if (this.scrollTop >= (this.scrollHeight - this.offsetHeight - 20)) {
      //   params.offset += params.limit
      //   index(params);
      // }
    });

    /* Server search call */
    function search() {
      container.innerHTML = '';
      spinner.start();
      server.search(params).then(function(response) {
        appendChildren(response);
      });
    }

    /* Append children to container */
    function appendChildren(data) {
      for (var i = 0; i < data.length; i++) {
        if ($('#' + data[i].id).length == 0) {
          var post = document.createElement("ez-post-preview");
          post.className += 'new';
          post.load(data[i]);
          if (i == 0) {
            container.appendChild(post)
          } else {
            container.insertBefore(post,
              $('#' + data[i].id)[0]
            );
          }
        }
      }

      imagesLoaded('#container', function() {
        setTimeout(function() { spinner.stop() }, 200);
      });
    }

    /* Start */
    index();

    /* Two loads, one looking for more, one refiltering */
    /* TWO: more, logic on server end */
  </script>
</html>