ez-isotope {
  display: block;

  [name=container] {
    display: block;
    height: inherit;
    overflow: hidden;
    position: relative;
    width: inherit;

    [name=controls] {
      position:absolute;
      right: 0px;

      div[name=c] {
        cursor: pointer;
        display: inline-block;
        font-family: ars-maquette-light, sans-serif;
        font-size: 16px;
        margin: 0 0 0 15px;
        padding: 5px 0 3px 0;
        position: relative;

        [name=under] {
          background: black;
          bottom: 0px;
          height: 2px;
          left: 0px;
          margin: auto;
          position: absolute;
          right: 0px;
          width: 0px;
        }
      }
    }
  }
}
