<html>
  <head>
    <script src="/web/vendors/jquery.min.js"></script>
    <script src="/web/vendors/ace/ace.js"></script>
    <script src="/web/vendors/jquery.ui.widget.js"></script>
    <script src="/web/vendors/jquery.iframe-transport.js"></script>
    <script src="/web/vendors/jquery.fileupload.js"></script>
    <style>
      html, body {
        font-family: 'Josefin Sans', sans-serif !important;
      }

      #ace {
        height: 600px;
        width: 800px;
        margin-top: 10px;
      }

      input, #upload-cover {
        border: none;
        background: #01313F;
        color: #CDEAF5;
        height: 30px;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        margin-top: 10px;
        overflow: hidden;
        padding: 0 10px;
      }

      input[name=title],
      input[name=tags] {
        width: 800px;
      }

      input[name=submit],
      input[name=button] {
      }

      #upload-cover-preview {
        display: block
      }

      #upload-cover {
        position: relative;
        width: 300px;
      }

      #upload-cover input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
      }

      /* This probably should be redraggable*/
      iframe {
        position: absolute;
        right: 10px;
        top: 10px;
        border: 5px solid #01313F;
        width: 400px;
        height: 400px;
        background: white;
      }
    </style>
    <script type="text/javascript">
      WebFontConfig = {
        google: {
          families: [
            'Josefin+Sans:300,400,600:latin',
            'Ubuntu+Mono::latin',
            'Open+Sans:300italic,400italic,400,300:latin'
          ]
        }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })(); </script>
  </head>
  <body>
  <div>
  </div>

  <div>
  </div>
    <!-- Blog base web component url -->
    <iframe id="view"></iframe>
    <%= form_for(@post, url: '/admin/blogs') do |f|-%>
      <input type="text" name="title" placeholder="Title">
      <div id="ace"></div>
      <input type="text" name="tags" placeholder="Tags (comma separated)">
      <input id="cover" name="cover" type="number" hidden>
      <input id="body" name="body" type="text" hidden>
      <br>
      <%= f.submit -%>
    <% end %>

    <img id="upload-cover-preview">

    <div id="upload-cover">
      <span>Upload</span>
      <input id="upload" type="file" name="files[]" data-url="/admin/photos">
    </div>

  </body>

  <script>
    var editor = ace.edit("ace");
    var view = $('#view')
    editor.setTheme("ace/theme/solarized_dark");
    editor.getSession().setMode("ace/mode/html");
    editor.getSession().on('change', function () {
      view.contents().find('body').html(editor.getSession().getValue());
    });

    $('#upload').fileupload({
      dataType: 'json',
      submit: function (e, data) {
        $('#upload-cover span').text("Uploading...")
        $('#upload').prop('disabled', true)
      },
      done: function (e, data) {
        $('#cover').val(data.result.id);
        $('#upload-cover span').text("Done");
        $('#upload-cover-preview').attr('src',data.result.url);
      }
    });

    $('form').submit(function(e) {
       e.preventDefault();
       $('#body').val(editor.getSession().getValue());
       this.submit();
       return false; //is superfluous, but I put it here as a fallback
    });
  </script>
</html>

