/* Application.css require tree
 *= require normalize
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app-intro {
  position: absolute;
  background: #000000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
}
#app-intro img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Background */
#app-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,  #2c7890 0%,#2d3246 100%);
}
/* Main App */
#app-main {
  width: 100%;
  height: 100%;
  z-index: 1;
  perspective: 2000px;
}
#app-main #app-container {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center center 500px;
}
/* Main App Sidebar */
#app-container #app-sidebar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  transform-origin: left center;
  -webkit-transform: rotateY(-135deg);
  transform: rotateY(-135deg);
}
#app-sidebar #app-sidebar-container {
  height: 100%;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#app-sidebar #app-sidebar-container #app-menu {
  height: 100%;
  position: absolute;
  width: 250px;
  right: 0;
}
#app-sidebar #app-sidebar-container #app-menu li {
  color: white;
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 100px;
  left: 0;
  font-size: 32px;
  font-weight: 100;
  font-family: 'Lato';
  list-style: none;
  transition: 0.25s;
  cursor: pointer;
}
#app-sidebar #app-sidebar-container #app-menu li.selected {
  color: gold;
  cursor: default;
}
#app-sidebar #app-sidebar-container #app-menu li:hover {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 48px;
}
#app-sidebar #app-sidebar-container #app-menu #app-menu-social {
  position: absolute;
  bottom: 75px;
  margin-top: 25px;
  width: 160px;
}
#app-sidebar #app-sidebar-container #app-menu #app-menu-social a {
  color: white;
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;
  transition: 0.25s;
}
#app-sidebar #app-sidebar-container #app-menu #app-menu-social i {
  font-size: 24px;
  transition: 0.25s;
}
#app-sidebar #app-sidebar-container #app-menu #app-menu-social span {
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 300;
  transition: 0.25s;
}
#app-sidebar #app-sidebar-container #app-menu #app-menu-social a:hover {
  padding-top: 20px;
  padding-bottom: 20px;
}
#app-sidebar #app-sidebar-container #app-menu #app-menu-social a:hover i {
  font-size: 24px;
}
#app-sidebar #app-sidebar-container #app-menu #app-menu-social a:hover span {
  font-size: 24px;
}
/* Main App Body */
#app-container #app-body {
  position: relative;
  width: 100%;
  height: 100%;
  background: #202020;
  background-size: 100% 100%;
}
#app-body #app-topbar {
  position: fixed;
  box-sizing: border-box;
  background: black;
  padding: 5px 10px;
  width: 100%;
  top: 0;
  transition: 0.5s;
}
#app-body #app-topbar i {
  cursor: pointer;
  font-size: 24px;
  color: white;
}
#app-body #app-frame {
  border: none;
  width: 100%;
  height: 100%;
}








