/* Application.css require tree
 *= require normalize
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app-intro {
  position: absolute;
  background: #000000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
#app-intro img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#app-intro * {
  color: white;
  font-size: 40px;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  text-align: center;
}
#app-intro *:last-child {
  color: #ff9879;
  font-weight: 300;
  display: block;
}

#app-bg {
  width: 100%;
  height: 100%;
  perspective: 2000px;
  background: linear-gradient(to bottom,  #2c7890 0%,#2d3246 100%);
}
#app-bg #app-main {
  transform-style: preserve-3d;
  transform-origin: center center 500px;
  width: 100%;
  height: 100%;
}

#app-bg #app-sidebar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  transform-origin: left center;
  -webkit-transform: rotateY(-120deg);
  transform: rotateY(-120deg);
}
#app-bg #app-sidebar #app-sidebar-container {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#app-bg #app-sidebar #app-sidebar-container #app-menu {
  float: right;
}
#app-bg #app-sidebar #app-sidebar-container #app-menu li {
  color: white;
  font-size: 32px;
  font-weight: 100;
  font-family: 'Lato';
  list-style: none;
  margin-right: 200px;
  margin-top: 25px;
  transition: 0.5s;
}
#app-bg #app-sidebar #app-sidebar-container #app-menu li.selected {
  color: gold;
}
#app-bg #app-sidebar #app-sidebar-container #app-menu li:hover {
  padding-left: 50px;
}
#app-bg #app-body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: #333333;
  background-size: 100% 100%;
}