/* Application.css require tree
 *= require normalize
 *= require_self

 */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#back {
  width: 100%;
  height: 100%;
  perspective: 1500px;
  background: #2c7890;
  background: -moz-linear-gradient(top,  #2c7890 0%, #2d3246 100%);
  background: -webkit-gradient(
      linear, left top, left bottom,
      color-stop(0%,#2c7890),
      color-stop(100%,#2d3246) );
  background: -webkit-linear-gradient(top,  #2c7890 0%,#2d3246 100%);
  background: -o-linear-gradient(top,  #2c7890 0%,#2d3246 100%);
  background: -ms-linear-gradient(top,  #2c7890 0%,#2d3246 100%);
  background: linear-gradient(to bottom,  #2c7890 0%,#2d3246 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#2c7890',
      endColorstr='#2d3246',
      GradientType=0 );
}

#back #sidebar {
  position: absolute;
  margin: 0;
  color: white;
  opacity: 0;
}

#back #main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: white;
  transform-style: preserve-3d;
  background: url('http://ezdz.io/img/mac.jpg');
  background-size: 100% 100%;
  transform-origin: right center;
}