* {
  font-family: 'Source Sans Pro', serif !important;
}

div {
  margin-top: 5px !important;
}

a {
  color: #108ee9;
  text-decoration: none;
}
a:visited {
  color: #108ee9;
}

.body {
  width: 960px;
  margin: auto;
  position: relative;
}

.center {
  margin: auto;
}

.section {
  font-weight: 500;
  font-size: 24px;
  margin: 25px 0 0px 0!important;
}

.center {
  text-align: center;
}

.title {
  margin: 20px 0 0 0;
  font-size: 20px;
}

.date {
  text-align: left;
  text-decoration: none;
  position: absolute;
  right: 0;
}

.subtitle {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: 300;
}

.point {
  margin: 0;
  font-weight: 300;
}

.name {
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
}

.closing-space {
  height: 300px;
}

#print {
  position: absolute;
  right: 0;
}